{% extends 'layout.html' %}
{% block header %}
    <title>Pitch Perfect</title>
    <style>    
        .flex-container-column {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            margin: 0;
            padding:0;
        }
        .flex-container-row {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            margin: 0;
            padding:0;
        }

        .row.progress {
            order: 1;
            flex-grow: 0;
            margin: 0;
        }
        .row.content {
            order: 2;
            flex-grow: 1;
            margin: 0;
        }

        .center { 
            justify-content: center; 
        }
        .start {
            justify-content: flex-start;
        }

        .numberCircle {
            width: 50px;
            line-height: 50px;
            border-radius: 50%;
            text-align: center;
            font-size: 32px;
            color: white;
            background-color: #00a2ff;
        }

        .disabled {
            background-color: #979c99;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="flex-container-column">
        <div class="row progress">
            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="row content"> 
            <div class="flex-container-row center">
                <div class="flex-container-column start" style="padding-left: 50px; padding-right: 50px"> 
                    <h1 style="font-size:20em; text-align: center">
                        <i class="fas fa-headphones-alt"></i>
                    </h1>

                    <div class="instruction" id="instruction">
                        <table style="width:100%">
                            <tr>
                                <td><div class="numberCircle">1</div></td>
                                <td><div style="width:50px"></div></td>
                                <td><div style="font-size:3em; text-align: left">
                                        Plug-in your Headphones
                                </div></td>
                            </tr>
                            <tr>
                                <td><div class="numberCircle">2</div></td>
                                <td><div style="width:50px"></div></td>
                                <td><div style="font-size:3em; text-align: left">
                                        Click Start
                                </div></td>
                            </tr>
                            <tr>
                                <td><div class="numberCircle">3</div></td>
                                <td><div style="width:50px"></div></td>
                                <td><div style="font-size:3em; text-align: left">
                                        Go through <b>3</b> Levels
                                </div></td>
                            </tr>
                        </table>                        
                    </div>

                      
                    <div style="height: 100px"></div>
                    <button type="button" id="start_btn" class="btn btn-success" style="font-size:5em" onclick="countdown()">Start</button>
                </div>
            </div>
        </div>  
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.min.js" integrity="sha512-L6Z/YtIPQ7eU3BProP34WGU5yIRk7tNHk7vaC2dB1Vy1atz6wl9mCkTPPZ2Rn1qPr+vY2mZ9odZLdGYuaBk7dQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">        
        function play_files(files) {
            sounds = []
            $.each(files, function(i, file) {
                var sound = new Howl({
                    src: ['static/audio/notes/' + file]
                })
                sounds.push(sound)
            });

            var interval = setInterval(function() { 
                ready = 0
                $.each(sounds, function(i, sound) {
                    if (sound.state() == 'loaded') {
                        ready += 1
                    }
                });
                if (ready == sounds.length) {
                    clearInterval(interval)
                    $.each(sounds, function(i, sound) {
                        sound.play()
                    })
                }
            }, 1)
        }

        function countdown() {
            files = ['60.wav', '60.wav', '72.wav', '84.wav']
            play_files(files)
            
            $("#instruction").html('<div style="font-size:3em; text-align: left">You are now hearing the C Note</div>')

            $("#start_btn").addClass("disabled")
            $("#start_btn").prop("onclick", null).off("click")

            var time = 4;
            var interval = setInterval(function() { 
                if (time > 0) {      
                    $("#start_btn").html(time);      
                    time = time - 1;
                }
                else { 
                    window.location.replace("{{url_for('level1')}}");
                }
            }, 1000); 
        }
    </script>
{% endblock %}