{% extends 'layout.html' %}
{% block header %}
	<title>{{name}}'s Profile</title>
    <style>    
        .flex-container-column {
            display: flex;
            flex-flow: column nowrap;
            height: 100%;
            margin: 0;
            padding:0;
        }
        .flex-container-row {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 100%;
            margin: 0;
            padding:0;
        }
        .center { 
            justify-content: center; 
        }
        .start {
            justify-content: flex-start;
        }
        .item {
            margin: 30px;
        }
    </style>
{% endblock %}

{% block body %}
<div class="flex-container-row center">
	<div class="flex-container-column start">
		<h1 class="item">Hi <b>{{name}}</b></h1>

        <table class="item table" style="font-size: 3em">
            <thead>
                <tr>
                    <th scope="col">Level 1</th>
                    <th scope="col">Level 2</th>
                    <th scope="col">Level 3</th>
                    <th scope="col">Overall</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{scores["Level 1"]}}</td>
                    <td>{{scores["Level 2"]}}</td>
                    <td>{{scores["Level 3"]}}</td>
                    <td>{{overall_score}}</td>
                </tr>
            </tbody>
        </table>

        <div class="item" style="text-align: center">
            {% if login_choice == "fb" %}
            <a class="btn btn-lg btn-social btn-facebook" id="fb-remove-app" href="{{url_for('remove_app')}}">
                <i class="fa fa-facebook fa-fw"></i> Unlink Facebook
            </a>
            {% endif %}

            {% if login_choice == "gg" %}
            <a class="btn btn-lg btn-social btn-google" id="gg-remove-app" href="{{url_for('remove_app')}}">
                <i class="fab fa-google"></i></i> Unlink Google
            </a>
            {% endif %}
        </div>
	</div>
</div>


{% endblock %}