{% extends 'layout.html' %}
{% block header %}
    <title>Pitch Perfect</title>
    <style>    
        /*container*/
        .flex-container-column {
            display: flex;
            flex-flow: column nowrap;           
            height: 100%;
            margin: 0;
            padding:0;
        }
        .flex-container-row {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            height: 100%;
            margin: 0;
            padding:0;
        }
        .center { 
            justify-content: center; 
        }

        /*children*/
        .x-card-title {
            text-align: center;
            font-size: 5em;
        }
        .x-card-desc {
            font-size: 2.5em;
            text-align: center;
        }
        .x-card-image {
        }
        .x-card-table {
            font-size: 1.5em;
            text-align: center;
        }
        .x-card-btn {
        }

        .disabled {
            background-color: #979c99;
        }
    </style>
{% endblock %}

{% block body %}
<div class="flex-container-row center">
    <div class="flex-container-column center">

            <h1 class="x-card-title">{{evaluation}}</h1>

            <img class="x-card-image" src="{{ static_autoversion(image) }}" alt="{{evaluation}}">

            <span class="x-card-desc">You are in the <b><u>{{overall_score}}</u></b> of the population.</span><br>

            <table class="x-card-table table">
                <thead>
                    <tr>
                        <th scope="col">Level 1</th>
                        <th scope="col">Level 2</th>
                        <th scope="col">Level 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{scores["Level 1"]}}</td>
                        <td>{{scores["Level 2"]}}</td>
                        <td>{{scores["Level 3"]}}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{url_for('index')}}" class="x-card-btn btn btn-primary" style="font-size: 3em">Try Again</a>

    </div>
</div>
{% endblock %}